@import 'tailwindcss';

.filter-table-header {
  @apply text-xl font-bold mb-4;
}

.filter-table {
  @apply min-w-full bg-white border border-gray-200;
}

.filter-table-header-row {
  @apply bg-cyan-900 p-4 rounded-t-lg;
}

.filter-table-cell {
  @apply py-2 px-4;
}

.filter-table-cell-header {
  @apply text-left text-white font-medium;
}

.filter-table-row {
  @apply border-b hover:bg-cyan-50 transition-colors;
}
