@import 'tailwindcss';

.filter-table {
  @apply min-w-full bg-white border border-gray-200;
}

.filter-table-header-row {
  @apply bg-sky-400 border-b border-cyan-700;
}

.filter-table-cell {
  @apply py-2 px-4;
}

.filter-table-cell-header {
  @apply text-left text-white font-medium;
}

.filter-table-row {
  @apply border-b hover:bg-gray-50 transition-colors;
}