<div class="p-4">
  <h2 class="filter-table-header">Filters list</h2>

  @if (filters$ | async; as filters) {
  <table class="filter-table">
    <thead>
      <tr class="filter-table-header-row">
        <th class="filter-table-cell filter-table-cell-header">Name</th>
        <th class="filter-table-cell filter-table-cell-header">Criteria</th>
        <th class="filter-table-cell filter-table-cell-header">Condition</th>
        <th class="filter-table-cell filter-table-cell-header">Value</th>
      </tr>
    </thead>

    <tbody>
      @for (filter of filters; track $index) {
        @for (criterion of filter.criteria; let i = $index; track $index) {
          <tr class="filter-table-row">
            <td class="filter-table-cell">
                @if (i === 0) {
                    {{ filter.name }}
                }
            </td>
            <td class="filter-table-cell">{{ criterion.name }}</td>
            <td class="filter-table-cell">{{ criterion.condition }}</td>
            <td class="filter-table-cell">{{ criterion.value }}</td>
          </tr>
        } 
      }
    </tbody>
  </table>
  } @else {
  <div class="text-gray-600">Loading…</div>
  }
</div>
