@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  @apply rounded-md font-medium text-white hover:cursor-pointer;
}