<div class="filter-row-grid">
  <div>
    <select
      class="filter-control"
      [(ngModel)]="field"
      (ngModelChange)="onFieldChange()"
    >
      @for (field of fields; track $index) {
      <option [value]="field">
        {{ field }}
      </option>
      }
    </select>
  </div>

  <div>
    <select
      class="filter-control"
      [(ngModel)]="condition"
    >
      @for (condition of conditionList; track $index) {
      <option [value]="condition">
        {{ condition }}
      </option>
      }
    </select>
  </div>

  <div>
    <input
      [type]="inputType"
      class="filter-control"
      [(ngModel)]="value"
      (ngModelChange)="emitChange()"
    />
  </div>
</div>
